<form class="form-signin text-white">
	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

	<label for="username" class="sr-only">Username</label>
	<input [(ngModel)]="credentials.username" name="username" type="email" id="inputEmail"
		class="form-control form-control-lg" placeholder="Username" required autofocus>

	<label for="password" class="sr-only">Password</label>
	<input [(ngModel)]="credentials.password" name="password" type="password" id="inputPassword"
		class="form-control form-control-lg" placeholder="Password" required>
	<div class="checkbox mb-3">
		<label>
			<input type="checkbox" value="remember-me"> Remember me
		</label>
	</div>
	<button (click)="login()" class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
	<p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>