<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card-block">
            <div class="card-header font-light-bold text-light" style="background-color: rgba(10, 10, 10, 0.4);">
                <div class="card-body">
                    <h3 class="mb-3 text-center text-warning mb-5">Registration form</h3>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="register.email" class="form-control" id="nameInputId"
                            placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="text" [(ngModel)]="register.name" class="form-control" id="descriptionInputId"
                            placeholder="Name">
                    </div>

                    <div class="form-group">
                        <input type="text" [(ngModel)]="register.surname" class="form-control" id="tbackAccountInputId"
                            placeholder="Surename" />
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="register.password" class="form-control"
                            id="tbackAccountInputId" placeholder="Password" />
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="register.matchingPassword" class="form-control"
                            id="tbackAccountInputId" placeholder="Confirm password" />
                    </div>

                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 text-center">
                            <button class="btn btn-success btn-lg btn-block" (click)="signUp()">Sign up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>